.form-box {
  row-gap: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 10px rgb(173, 230, 180);
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.form-width {
  padding: 5px;
}

mat-icon {
  color: rgb(226, 40, 189);
}

.library-edit {
  display: flex;
  gap: 20px;
}

.form{
    padding: 15px;
}