.form-box {
    row-gap: 20px;
 text-align: center;
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px 10px rgb(173, 230, 180);
    margin: auto;
    margin-top:60px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .form {

    padding: 15px;
  }
  
  .box {
    padding-top: 15px;
    
  }
  
  mat-icon {
    color: rgb(226, 40, 189);
  }
  
  .library-update {
    display: flex;
    gap: 20px;
  }
  