.form-box {
  row-gap: 20px;
  margin-top: 50px;
  width: 40%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 10px lightblue;
}

mat-form-field {
  width: 100%;
}

.form {
  padding: 15px;
}

.box {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

mat-icon {
  color: rgb(71, 226, 40);
}

.button-create {
  display: flex;
  gap: 20px;
}

::ng-deep input{
    color:white !important;
}