<div class="form-container">
    <div class="form-box">
        <h3>Update Book</h3>
        <div class="form" [formGroup]="formControlGroup">
            <mat-form-field class="form-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="" formControlName="name">
                <mat-icon matSuffix>library_book</mat-icon>
            </mat-form-field>
        </div>
        <div class="form" [formGroup]="formControlGroup">
            <mat-form-field class="form-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput placeholder="" formControlName="description">
                <mat-icon matSuffix>library_book</mat-icon>
            </mat-form-field>
        </div>
        <div class="form" [formGroup]="formControlGroup">
            <mat-form-field class="form-width" appearance="fill">
                <mat-label>Release Year</mat-label>
                <input matInput placeholder="" formControlName="releaseYear">
                <mat-icon matSuffix>library_book</mat-icon>
            </mat-form-field>
    </div>
        <div class = "button-update">
            <button mat-raised-button color="primary"(click)="updateBook()">Update Book</button>
            <button mat-raised-button color="warn" (click)="goBack()">Back</button>
        </div>
        </div>
    </div>